<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Company Index</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/main.css" type="text/css" />

    <style>

        body{
            background-color: lightblue;
        }

        .companyPanel{
            text-align: center;
            font-size: 1.5em;
        }

        .company-wrapper {
            margin-bottom: 25px;
            margin-top: 25px;
        }

    </style>
</head>
<body>

<nav th:replace="fragments/partials :: navbar"></nav>

<div class="container">

    <div class="row company-wrapper" th:each="company : ${companies}">
        <div class="col-md-7">
            <a href="#">
                <img class="img-fluid rounded mb-3 mb-md-0" src="http://placehold.it/700x300" alt=""/>
            </a>
        </div>
        <div class="col-md-5">
            <h2 th:text="${company.name}" class="card-title"></h2>
            <h4>Company Data (Last Year):</h4>

            <p>Ticker: <span th:text="${company.ticker}"></span><br />
                Net Income: <span th:text="${company.getNetIncome()}"></span><br />
                Earnings Per Share: <span th:text="${company.eps}"></span><br /><br />
                Total Assets: <span th:text="${company.getTotalAssets()}"></span><br /><br />
                Total Liabilities: <span th:text="${company.getTotalLiabilities()}"></span><br /><br />
                Sales Revenue: <span th:text="${company.getSales()}"></span></p>
            <form th:action="@{/company/{ticker}(ticker = ${company.ticker})}" method="GET">
                <button class="btn btn-dark">More Details</button>
            </form>
        </div>
    </div>


    <!--<div class="row">-->
        <!--<div class="companyPanel col-12 col-md-6 my-4" th:each="company : ${companies}">-->
            <!--<div class="card py-5">-->

                <!--<h2 th:text="${company.name}" class="card-title"></h2>-->

                <!--<h4>Company Data (Last Year):</h4>-->

                <!--<p>Ticker: <span th:text="${company.ticker}"></span><br />-->
                    <!--Net Income: <span th:text="${company.getNetIncome()}"></span><br />-->
                    <!--&lt;!&ndash;Earnings Per Share: <span th:text="${company.eps}"></span><br /><br />&ndash;&gt;-->
                    <!--&lt;!&ndash;Total Assets: <span th:text="${company.getTotalAssets()}"></span><br /><br />&ndash;&gt;-->
                    <!--&lt;!&ndash;Total Liabilities: <span th:text="${company.getTotalLiabilities()}"></span><br /><br />&ndash;&gt;-->
                    <!--Sales Revenue: <span th:text="${company.getSales()}"></span></p>-->

                <!--<form th:action="@{/company/{ticker}(ticker = ${company.ticker})}" method="GET">-->
                    <!--<button class="btn btn-dark">More Details</button>-->
                <!--</form>-->

            <!--</div>-->
        <!--</div>-->
    <!--</div>-->

</div>

<div th:replace="fragments/partials :: javascript"></div>

</body>
</html>