<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Company Index</title>
</head>
<body>

<!--<nav th:replace="partials :: navbar" />-->

<div th:each="company : ${companies}">
    <h2 th:text="${company.name}"></h2>
    <p>Ticker: <span th:text="${company.ticker}"></span><br />
    Income: <span th:text="${company.getNetIncome()}"></span><br />
    Earnings Per Share: <span th:text="${company.eps}"></span><br />
    Total Assets: <span th:text="${company.getTotalAssets()}"></span><br />
    Total Liabilities: <span th:text="${company.getTotalLiabilities()}"></span><br />
    Total Sales: <span th:text="${company.getSales()}"></span></p>
</div>

</body>
</html>