<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>

    <div th:replace="fragments/partials :: bootstrapHeaderBasic"></div>

    <title>Edit Your Profile</title>

    <div th:replace="fragments/partials :: bootstrapCSS"></div>

    <link href="/css/login.css" rel="stylesheet" type="text/css" />

    <style>
        body{
            background: url("/img/form-bg.jpg") no-repeat;
            background-size: cover;
        }

        html{
            height: 100%;
        }

        .card{
            background-color: rgba(255, 255, 255, .8);
        }

    </style>

</head>
<body>

<nav th:replace="fragments/partials :: navbar"></nav>

<div class="container">

                            <form id="register-form" th:action="@{/profile/{id}/edit(id =${user.id})}" th:object="${user}" method="post" role="form" style="display: block;" class="card py-5">
                                <div class="alert alert-danger" role="alert" th:if="${param.username}" tabindex="1">
                                    The username has already been taken.
                                </div>

                                <div class="alert alert-danger" role="alert" th:if="${param.email}" tabindex="1">
                                    The email has already been used.
                                </div>

                                <div class="alert alert-danger" role="alert" th:if="${param.mismatch}" tabindex="1">
                                    Password must be matching.
                                </div>

                                <div class="alert alert-danger" role="alert" th:if="${param.char}" tabindex="1">
                                    Please only enter letters and numbers.
                                </div>

                                <div class="alert alert-danger" role="alert" th:if="${param.userpass}" tabindex="1">
                                    Your username and password cannot be the same.
                                </div>

                                <div class="form-group row">
                                    <input type="text" th:field="*{firstName}" name="firstName" id="firstName" tabindex="4" class="form-control col-8 offset-2 my-3" placeholder="First Name" th:value="${#authentication.principal.firstName}" />

                                    <input type="text" th:field="*{lastName}" name="lastName" id="lastName" tabindex="4" class="form-control col-8 offset-2 mb-3" placeholder="Last Name"  th:value="${#authentication.principal.lastName}" />

                                    <input type="email" th:field="*{email}" name="email" id="email" tabindex="4" class="form-control col-8 offset-2 mb-3" placeholder="Email Address" th:value="${#authentication.principal.email}" />

                                    <input type="password" name="password" th:field="*{password}" id="password" tabindex="4" class="form-control col-8 offset-2 mb-3" placeholder="Password" required="required" />

                                    <input type="password" name="confirmPassword" id="confirm-password" tabindex="4" class="form-control col-8 offset-2 mb-3" placeholder="Confirm Password" required="required" />
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-8 offset-2">
                                            <input type="submit" name="register-submit" id="register-submit" tabindex="4" class="form-control btn btn-login" value="Edit Profile" />
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>

<div th:replace="fragments/partials :: javascript"></div>
<script src="/scripts/login.js"></script>
</body>
</html>