<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <div th:replace="fragments/partials :: bootstrapHeaderBasic"></div>
    <title>Profile</title>
    <div th:replace="fragments/partials :: bootstrapCSS"></div>
</head>
<body>
<nav th:replace="fragments/partials :: navbar"></nav>

<p th:text="${profileOwner.username}"></p>
<p th:text="${profileOwner.firstName}"></p>
<p th:text="${profileOwner.lastName}"></p>
<p th:text="${profileOwner.email}"></p>
<p th:text="${profileOwner.id}"></p>

<form th:if="${isProfileOwner}" th:action="@{/profile/{id}/edit(id =${profileOwner.id})}">
    <button type="submit">Edit Profile</button>
</form>


<footer th:replace="fragments/partials :: footer"></footer>
<div th:replace="fragments/partials :: javascript"></div>
</body>
</html>