<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <div th:replace="fragments/partials :: bootstrapHeaderBasic"></div>

    <title>Register</title>

    <div th:replace="fragments/partials :: bootstrapCSS"></div>

    <link href="/css/login.css" rel="stylesheet" type="text/css" />

    <style>
        body{
            background: url("/img/form-bg.jpg") no-repeat;
            background-size: cover;
        }

        html{
            height: 130%;
        }

        .card{
            background-color: rgba(255, 255, 255, .8);
            margin-bottom: 2em;
        }

    </style>

</head>
<body>

<nav th:replace="fragments/partials :: navbar"></nav>

<div class="container">

    <form id="register-form" th:action="@{/register}" th:object="${user}" method="post" role="form" style="display: block;" class="card py-5">

        <div class="alert alert-danger" role="alert" th:if="${param.username}" tabindex="1">

            The username has already been taken.
        </div>


        <div class="alert alert-danger" role="alert" th:if="${param.email}" tabindex="1">

            The email has already been used.
        </div>

        <div class="alert alert-danger" role="alert" th:if="${param.mismatch}" tabindex="1">
            Password must be matching.
        </div>

        <div class="alert alert-danger" role="alert" th:if="${param.char}" tabindex="1">
            Please only enter letters and numbers.
        </div>

        <div class="alert alert-danger" role="alert" th:if="${param.userpass}" tabindex="1">
            Your username and password cannot be the same.
        </div>

        <h2 class="text-center my-4">Register</h2><br />


        <div class="form-group row">

            <input type="text" th:field="*{username}" id="username" tabindex="4" class="form-control col-8 offset-2 my-3" placeholder="Username" required="required" />


            <input type="text" th:field="*{firstName}" id="firstName" tabindex="4" class="form-control col-8 offset-2 mb-3" placeholder="First Name" required="required" />


            <input type="text" th:field="*{lastName}" id="lastName" tabindex="4" class="form-control col-8 offset-2 mb-3" placeholder="Last Name" required="required" />

            <input type="email" th:field="*{email}" id="email" tabindex="4" class="form-control col-8 offset-2 mb-3" placeholder="Email Address" required="required" />

            <input type="password" name="password" th:field="*{password}" id="password" tabindex="4" class="form-control col-8 offset-2 mb-3" placeholder="Password" required="required" />

            <input type="password" name="confirmPassword" id="confirm-password" tabindex="4"  class="form-control col-8 offset-2 mb-3" placeholder="Confirm Password" required="required" />

        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-8 offset-2">

                    <input type="submit" name="register-submit" id="register-submit" tabindex="4" class="form-control btn btn-login" value="Register Now" />
                </div>

                <br />

                <div class="col-12">

                    <div class="text-center mt-2">

                        Already have an account? <a th:href="@{/login}" tabindex="5" class="register-account">Login Now!</a>

                    </div>

                </div>
            </div>
        </div>
    </form>
</div>


<script src="/scripts/login.js"></script>
<div th:replace="fragments/partials :: javascript"></div>

</body>
</html>