<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>The Graph API For Investible/Active</title>
    <link href="https://fonts.googleapis.com/css?family=Dosis:400,700" rel="stylesheet">
</head>
<body>
<h1>Graphing for Investment</h1>
<nav th:replace="fragments/navbar :: navbar"></nav>
<p>This page lets you see the ups and down of each company.</p>
<textarea id="searchbox"></textarea>
<input type="button" value="Search!" onclick="addNewTicker()">
<div id="resultsdiv"></div>
<!--<div id="afterbegin"></div>-->
<div id="graph_charts" style="width: 100%; height: 500px;"></div>


<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    google.charts.load('current', {'packages':['corechart']});
    // google.charts.setOnLoadCallback(drawVisualization);
var graphContents = [];


    function drawVisualization(output) {
        // Some raw data (grabbing from the api)
        var data = google.visualization.arrayToDataTable(output);
        var options = {
            title : 'Daily Investment Production by Company',
            vAxis: {title: 'Stock'},
            hAxis: {title: 'Daily'},
            seriesType: 'line',
            series: {12: {type: 'line'}}
        };

        var chart = new google.visualization.LineChart(document.getElementById('graph_charts'));
        chart.draw(data, options);
    }

    var GRAPHS_CONTAINER = document.querySelector("#graph_charts");

    async function firstGraph(stockSymbol) {
        var url = "https://www.alphavantage.co/query?function=TIME_SERIES_DAILY&symbol=" + stockSymbol + "&outputsize=compact&datatype=json&apikey=4LTMQQHJMWN9C79N";
        try {
            var response = await fetch(url);
            var data = await response.json();
            console.log(data);
            var series = data["Time Series (Daily)"];
            var output = [];

            for (key in series) {
                var price = series[key]["4. close"];
                var
                price = parseFloat(price);
                output.push([key, price])
            }
            output.reverse();
            output.unshift(["month", data["Meta Data"]["2. Symbol"]]);
            graphContents = output;
            console.log(output);
            google.charts.setOnLoadCallback(function (){
                drawVisualization(output)
            });

        } catch (e) {
            console.log("Error!", e);
        }
    }

    document.addEventListener('DOMContentLoaded', function () {
        firstGraph("AAPL");

    });

    async function addNewTicker(){
        var stockSymbol = document.querySelector("#searchbox").value;
        // console.log(stockSymbol);
        var url = "https://www.alphavantage.co/query?function=TIME_SERIES_DAILY&symbol=" + stockSymbol + "&outputsize=compact&datatype=json&apikey=4LTMQQHJMWN9C79N";
        try {
            var response = await fetch(url);
            var data = await response.json();
            var series = data["Time Series (Daily)"];
            var output = [];

            for (key in series) {
                var price = series[key]["4. close"];
                var price = parseFloat(price);
                output.push([key, price])
            }
            output.reverse();
            var newSymbolData = [];

            newSymbolData.push(stockSymbol);
            output.forEach(function(price) {
                newSymbolData.push(price[1]);
            });
            graphContents.forEach(function(row, index) {
                graphContents[index].push(newSymbolData[index]);
            });
                drawVisualization(graphContents);

            console.log(graphContents);
        } catch (e) {
            console.log("Error!", e);
        }
    }
</script>
</body>
</html>