<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>The Graph API For Investible/Active</title>
    <link href="https://fonts.googleapis.com/css?family=Dosis:400,700" rel="stylesheet">
</head>
<body>
<h1>Graphing for Investment</h1>
<nav th:replace="fragments/navbar :: navbar"></nav>
<p>This page lets you see the ups and down of each company.</p>
<textarea id="searchbox"></textarea>
<input type="button" value="Search!" onclick="doSearch()">
<div id="resultsdiv"></div>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(drawVisualization);

    function drawVisualization() {
        // Some raw data (not necessarily accurate)
        var data = google.visualization.arrayToDataTable([
            ['Company', 'Google', 'Apple', 'Microsoft', 'Qualys', 'Fireye', 'Rapid7', 'Pivotal', 'Twilio', 'Groupon', 'Wayfair', 'Roku', 'Box'],
            ['2015/16',  165,      938,         522,      998,       450,      614.6,    938,       564,      884,     990.0,      450,    575],
            ['2015/16',  135,      1120,        599,     1268,       288,      682,      750,       690,      889,      94,        450,    575],
            ['2016/17',  157,      1167,        587,      807,       397,      623,      687,       104,      650,      893,       450,    575],
            ['2016/17',  157,      1167,        587,      807,       397,      623,      970,       494,      990,      990,       450,    575],
            ['2017/18',  157,      1167,        587,      807,       397,      623,      445,       722,      345,      456,       450,    575],
            ['2017/18',  139,      1110,        615,      968,       215,      609.4,    324,       944,      345,      233,       450,    575],
            ['2018/19',  136,      691,         629,     1026,       366,      569.6,    1000,      774,      345,      145,       450,    575]
        ]);

        var options = {
            title : 'Monthly Investment Production by Company',
            vAxis: {title: 'Stock'},
            hAxis: {title: 'Year'},
            seriesType: 'bars',
            series: {12: {type: 'line'}}
        };

        var chart = new google.visualization.ComboChart(document.getElementById('graph_charts'));
        chart.draw(data, options);
    }
</script>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    google.charts.load("current", {packages:["corechart"]});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
        var data = google.visualization.arrayToDataTable([
            ['Apple', 'Hours per Day'],
            ['Google',     11],
            ['Box',      2],
            ['Twlo',  3],
            ['Roku', 8],
            ['Mircsoft',    5]
        ]);

        var options = {
            title: 'My Daily Stock',
            is3D: true,
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart_3d'));
        chart.draw(data, options);
    }
</script>

<div id="graph_charts" style="width: 900px; height: 500px;"></div>
<div id="news_data"></div>

<script>

    var NEWS_FEED_CONTAINER = document.querySelector("#news_data");
    var GRAPHS_CONTAINER = document.querySelector("#graph_charts");
    var GRAPHS_BASE_URL = "https://www.alphavantage.co/query?function=TIME_SERIES_DAILY_ADJUSTED&symbol=MSFT&outputsize=full&datatype=json&";
    var ARTICLES_BASE_URL = "https://newsapi.org/v2/top-headlines?";
    var ARTICLES_APIKEY = "apiKey=99df6baec7fb440291394e15ceb17586";
    var GRAPHS_APIKEY = "apikey=N24XNC0U6S1B605Y";

    function requestURL(baseURL, apiKey) {
        var
            COUNTRY_PARAM = "country=us&",
            CATEGORY = "category=business&"

        return [GRAPHS_BASE_URL, GRAPHS_CONTAINER, CATEGORY, GRAPHS_APIKEY].join('')
    }

    async function fetchArticles() {
        try {
            var response = await fetch(requestURL(GRAPHS_BASE_URL, GRAPHS_APIKEY))
            var data = await response.json();
            return data.articles;
        } catch (e) {
            console.log("Error!", e);
        }
    }

    async function buildArticlesHTML(){
        var articlesArray = await fetchArticles()

        var articlesHTML = "";

        for await(let article of articlesArray){
            articlesHTML += `
      <div class='article-container'>
          <h2 class='article-title'>${article.title}</h2>
          <p class='article-description'>${article.description}</p>
          <p class='article-timestamp'>${article.publishedAt}</p>
          <h3 class='article-author'>By ${article.author}</h3>
          <img src='${article.urlToImage}' alt='${article.title}'>
          <p class='article-content'>${article.content}</p>
      </div>
    `
        }
        NEWS_FEED_CONTAINER.insertAdjacentHTML('afterbegin', articlesHTML)
    }

    async function fetchGraphs() {
        try {
            var response = await fetch(requestURL(GRAPHS_BASE_URL, GRAPHS_APIKEY))
            var data = await response.json();
            return alpha.data.batch([`MSFT`, `AAPL`, `GOOGL`, `OLYS`,`FEYE`, `RPD`, `TWLO`, `W`, `ROKU`, `BOX`, `PSTG`, `GRPN`]).then(data => {
                console.log(data);
            });;
        } catch (e) {
            console.log("Error!", e);
        }
    }

    async function buildGraphsHTML(){
        var graphObj = Object.entries(await fetchGraphs())
        var graphMetaData = graphObj[0][1]
        var graphCompanySymbol = Object.values(graphMetaData)[1]
        var graphTimeSeries = graphObj[1][1]

        console.log(graphCompanySymbol, graphTimeSeries)
        Object.entries(graphTimeSeries).forEach(
            ([key,value]) => console.log(key,value)
        )

        console.log(graphsHTML)
        GRAPHS_CONTAINER.insertAdjacentHTML('afterbegin', graphsHTML)
    }

    document.addEventListener('DOMContentLoaded', function () {
        buildArticlesHTML()
        buildGraphsHTML()
    });

</script>
</body>
</html>