<!--https://newsapi.org/v2/top-headlines?country=us&category=business&apiKey=99df6baec7fb440291394e15ceb17586-->

{"status":"ok",
    "totalResults":20,
    "articles":[ //0
        {"source":{"id":"the-verge",
            "name":"The Verge"},
            "author":"Sean O'Kane",
            "title":"Tesla Model 3 awarded five-star safety rating",
            "description":"NHTSA gives top marks to the rear-wheel-drive version of the electric sedan. The Chevy Bolt recently received the same overall rating,
            but scored a few four-star marks in some subcategories.",
            "url":"https://www.theverge.com/2018/9/20/17882634/tesla-model-3-nhtsa-five-star-safety-rating",
            "urlToImage":"https://cdn.vox-cdn.com/thumbor/kO4Ui4tcIFJfgLw_G9gw1XVaROA=/0x19:710x391/fit-in/1200x630/cdn.vox-cdn.com/uploads/chorus_asset/file/13123849/v10384P105.jpg",
            "publishedAt":"2018-09-20T16:27:58Z",
            "content":null},

{"source":{"id":"fox-news",
        "name":"Fox News"},
        "author":"Alexandra Deabler",
        "title":"Delta apologizes for calling police on black customer for trying to file a claim over damaged luggage",
        "description":"Delta Air Lines said they hope to learn from the woman’s experience to improve their customer service operations.",
        "url":"http://www.foxnews.com/travel/2018/09/20/delta-apologizes-for-calling-police-on-black-customer-for-trying-to-file-claim-over-damaged-luggage.html",
        "urlToImage":"http://a57.foxnews.com/images.foxnews.com/content/fox-news/travel/2018/09/20/delta-apologizes-for-calling-police-on-black-customer-for-trying-to-file-claim-over-damaged-luggage/_jcr_content/par/featured_image/media-0.img.jpg/0/0/1537458844291.jpg?ve=1",
        "publishedAt":"2018-09-20T15:38:26Z",
        "content":"Delta Air Lines has apologized to a customer for calling the police after an argument over damaged luggage escalated. The customer,
        who is black,
        feels the incident with the customer service agent,
        who is white,
        was racially motivated. “I do feel like the sit… [+3537 chars]"},
{"source":{"id":null,
        "name":"Forbes.com"},
        "author":null,
        "title":"What You Need To Know About Eventbrite's IPO",
        "description":null,
        "url":"https://www.forbes.com/sites/greatspeculations/2018/09/20/ipo-coverage-eventbrite-eb/",
        "urlToImage":null,
        "publishedAt":"2018-09-20T15:17:07Z",
        "content":null},
{"source":{"id":"the-wall-street-journal",
        "name":"The Wall Street Journal"},
        "author":null,
        "title":"ESPN Streaming Service Surpasses One Million Subscribers",
        "description":null,
        "url":"https://www.wsj.com/articles/espn-streaming-service-surpasses-one-million-subscribers-1537455826",
        "urlToImage":null,
        "publishedAt":"2018-09-20T15:03:00Z",
        "content":null},
{"source":{"id":null,
        "name":"Nypost.com"},
        "author":null,
        "title":"Passengers bled from noses,
        ears after pilot 'forgot' to turn on cabin pressure",
        "description":null,
        "url":"https://nypost.com/2018/09/20/passengers-bled-from-noses-ears-after-pilot-forgot-to-turn-on-cabin-pressure/",
        "urlToImage":null,
        "publishedAt":"2018-09-20T14:38:00Z",
        "content":null},
{"source":{"id":null,
        "name":"Latimes.com"},
        "author":"Associated Press",
        "title":"Stocks rise,
        lifting the Dow and S&P 500 to record highs",
        "description":"An early wave of buying sent U.S. stocks solidly higher on Wall Street on Thursday,
        pushing the Dow Jones industrial average above the all-time high it closed at in January. The Standard & Poor’s 500 index,
        the benchmark for many index funds,
        was also above t…",
        "url":"http://www.latimes.com/business/la-fi-markets-20180920-story.html",
        "urlToImage":"https://www.latimes.com/resizer/YBbVGCTfbSDxL_ApJuGgzYg1zkg=/1200x0/arc-anglerfish-arc2-prod-tronc.s3.amazonaws.com/public/SDBZ2FGGJVCSXL6HHCK7ZGQW5Q.jpg",
        "publishedAt":"2018-09-20T14:34:27Z",
        "content":"An early wave of buying sent U.S. stocks solidly higher on Wall Street on Thursday,
        pushing the Dow Jones industrial average above the all-time high it closed at in January. The Standard &amp; Poor’s 500 index,
        the benchmark for many index funds,
        was also abo… [+1140 chars]"},
{"source":{"id":"cnn",
        "name":"CNN"},
        "author":"Eliott C. McLaughlin and Chuck Johnston,
        CNN",
        "title":"Student pilot in custody after he allegedly hopped a fence and boarded a plane at Orlando-Melbourne airport",
        "description":"A student pilot is in custody after he allegedly hopped a security fence early Thursday at Florida's Orlando Melbourne International Airport and boarded a passenger jet that was undergoing maintenance,
        an airport spokeswoman said.",
        "url":"https://www.cnn.com/2018/09/20/us/student-pilot-security-breach-orlando/index.html",
        "urlToImage":"https://cdn.cnn.com/cnnnext/dam/assets/180920083033-02-student-pilot-airport-security-breach-orlando-screengrab-super-tease.jpg",
        "publishedAt":"2018-09-20T14:33:00Z",
        "content":"(CNN) A student pilot is in custody after he allegedly hopped a security fence early Thursday at Florida's Orlando Melbourne International Airport and boarded a passenger jet that was undergoing maintenance,
        an airport spokeswoman said. The student,
        who is or… [+2976 chars]"},
{"source":{"id":"the-new-york-times",
        "name":"The New York Times"},
        "author":null,
        "title":"For NJ Transit Rail Commuters,
        a Bad Situation Is About to Get Worse",
        "description":"New Jersey Transit plans to cancel another 18 daily trains on five of its lines next month to meet the deadline to install an automatic braking system.",
        "url":"https://www.nytimes.com/2018/09/20/nyregion/nj-transit-trains.html",
        "urlToImage":"https://static01.nyt.com/images/2018/09/21/nyregion/21njtransit/21njtransit-facebookJumbo.jpg",
        "publishedAt":"2018-09-20T14:26:26Z",
        "content":"Those cancellations came after the agency curtailed its service in the spring to accommodate the installation of the braking system,
        known as Positive Train Control. On Thursday,
        the agency’s executive director,
        Kevin Corbett,
        said the project was more than 6… [+761 chars]"},
{"source":{"id":"the-wall-street-journal",
        "name":"The Wall Street Journal"},
        "author":null,
        "title":"Denmark Reopens Investigation into Russia-Linked Money Laundering Case",
        "description":null,
        "url":"https://www.wsj.com/articles/denmark-reopens-investigation-into-russia-linked-money-laundering-case-1537451955",
        "urlToImage":null,
        "publishedAt":"2018-09-20T14:01:46Z",
        "content":null},
{"source":{"id":null,
        "name":"Local10.com"},
        "author":"Jeff Tavss",
        "title":"Meat supplier in Publix recall issues new warning over E. coli",
        "description":"The meat supplier connected to an earlier Publix meat recall is pulling more than 132,
        000 additional pounds of ground beef that may be contaminated with E. coli.",
        "url":"https://www.local10.com/consumer/recalls/meat-supplier-in-publix-recall-issues-new-warning-over-e-coli",
        "urlToImage":"https://media.local10.com/photo/2018/09/20/Ground%20Beef%20Recall_1537450224299.jpg_12695572_ver1.0_1280_720.jpg",
        "publishedAt":"2018-09-20T13:51:47Z",
        "content":"MIAMI - The meat supplier connected to an earlier Publix meat recall is pulling more than 132,
        000 additional pounds of ground beef that may be contaminated with E. coli. The U.S. Department of Agriculture announced the new recall covers items packaged by Carg… [+2078 chars]"},
{"source":{"id":"usa-today",
        "name":"USA Today"},
        "author":"Kelly Tyko",
        "title":"National Pepperoni Pizza Day 2018: Where to get free pizza and other deals Thursday",
        "description":"When is National Pizza Day? Not today,
        but September 20 is National Pepperoni Pizza Day and deals are plentiful. $1 Pizza Hut,
        Papa Murphy's freebie.",
        "url":"https://www.usatoday.com/story/money/nation-now/2018/09/20/national-pepperoni-pizza-day-1-pizza-hut-pizza-and-more-thursday/1366243002/",
        "urlToImage":"https://www.gannett-cdn.com/-mm-/3b8b0abcb585d9841e5193c3d072eed1e5ce62bc/c=0-30-580-356/local/-/media/2018/06/17/USATODAY/usatsports/pizza-gettyimages-621463552_large.jpg?width=3200&height=1680&fit=crop",
        "publishedAt":"2018-09-20T13:30:08Z",
        "content":"Dieting is tough,
        and it turns out many people blame their partner for derailing theirs. Buzz60 Americans are ordering food to be delivered more than ever before and there's a lot more on the menu than pizza. (Photo: Getty Images) America's favorite kind of p… [+5272 chars]"},
{"source":{"id":"the-wall-street-journal",
        "name":"The Wall Street Journal"},
        "author":"Eric Morath",
        "title":"US Jobless Claims Fall to 49-Year Low for Third Straight Week",
        "description":"The number of Americans filing applications for new unemployment benefits fell to a new 49-year low last week,
        though any effect from Hurricane Florence may not be realized for several weeks.",
        "url":"https://www.wsj.com/articles/u-s-jobless-claims-fall-to-49-year-low-for-third-straight-week-1537446974",
        "urlToImage":"https://images.wsj.net/im-27158/social",
        "publishedAt":"2018-09-20T12:38:32Z",
        "content":"WASHINGTON—The number of Americans filing applications for new unemployment benefits fell to a new 49-year low for the third straight week,
        though Hurricane Florence’s effect on the jobs market remains unclear. Initial jobless claims,
        a proxy for layoffs acro… [+2586 chars]"},
{"source":{"id":null,
        "name":"Zacks.com"},
        "author":"Zacks Investment Research",
        "title":"Amazon Plans Rapid Expansion of Cashierless Stores by 2021",
        "description":"Amazon (AMZN) is aggressively looking into expanding presence in the grocery retail space by increasing cashierless stores.",
        "url":"https://www.zacks.com/stock/news/324002/amazon-plans-rapid-expansion-of-cashierless-stores-by-2021",
        "urlToImage":"https://staticx-tuner.zacks.com/images/articles/main/2d/1537444699.jpg",
        "publishedAt":"2018-09-20T12:12:08Z",
        "content":"Amazon ( AMZN - Free Report ) is leaving no stone unturned to disrupt the retail sector further on the back of its expanding physical presence. Reportedly,
        the e-commerce giant intends to take the number of its cashierless store,
        Amazon Go to a record of 3,
        00… [+4007 chars]"},
{"source":{"id":null,
        "name":"Zacks.com"},
        "author":"Zacks Investment Research",
        "title":"Oil Prices Touch 2-Month High: 5 Best Picks",
        "description":"Under circumstances where oil prices are likely to remain high,
        investing in stocks of oil companies seems prudent",
        "url":"https://www.zacks.com/stock/news/324004/oil-prices-touch-2-month-high-5-best-picks",
        "urlToImage":"https://staticx-tuner.zacks.com/images/articles/main/af/1537443579.jpg",
        "publishedAt":"2018-09-20T12:11:02Z",
        "content":"On Sep 19,
        domestic crude inventories fell to a three and a half year low,
        which in turn boosted WTI oil prices to touch a two-month high. Also,
        Brent oil is evidently nearing the desired level of $80 a barrel after the world’s biggest oil producer and OPEC m… [+6207 chars]"},
{"source":{"id":null,
        "name":"Npr.org"},
        "author":"",
        "title":"Ticketmaster Has Its Own Secret Scalping Program,
        Canadian Journalists Report",
        "description":"The CBC and the Toronto Star has reported that live-event box office behemoth Ticketmaster recruits professional \"scalpers\" into a program through which it could benefit by double-dipping on fees.",
        "url":"https://www.npr.org/2018/09/20/649666928/ticketmaster-has-its-own-secret-scalping-program-canadian-journalists-report",
        "urlToImage":"https://media.npr.org/assets/img/2018/09/20/gettyimages-83851492_wide-66c7a9d53705b85e0575b6ca66359f600dd9d79e.jpg?s=1400",
        "publishedAt":"2018-09-20T11:34:00Z",
        "content":"Box-office giant Ticketmaster may have benefitted from looking the other way on ticket scalping-related violations of its own terms of service,
        a Canadian report revealed on Sep. 19. Jamie Squire/Getty Images Updated 11:35 a.m. Sep. 20 with portions of a stat… [+5041 chars]"},
{"source":{"id":null,
        "name":"Seekingalpha.com"},
        "author":"SA Editor Yoel Minkoff",
        "title":"JPMorgan cuts General Electric PT to $10",
        "description":"General Electric (NYSE:GE) -2.2% premarket after JPMorgan cut its PT on the conglomerate - to $10 from $11 - saying a key gas turbine launch spells more trouble for the firm's power division.Checks on",
        "url":"https://seekingalpha.com/news/3391683-jpmorgan-cuts-general-electric-pt-10",
        "urlToImage":"https://static3.seekingalpha.com/assets/og_image_192-59bfd51c9fe6af025b2f9f96c807e46f8e2f06c5ae787b15bf1423e6c676d4db.png",
        "publishedAt":"2018-09-20T11:31:00Z",
        "content":"General Electric (NYSE: GE ) -2.2% premarket after JPMorgan cut its PT on the conglomerate - to $10 from $11 - saying a key gas turbine launch spells more trouble for the firm's power division. Checks on two initial U.S. installations revealed failures of the… [+308 chars]"},
{"source":{"id":"the-verge",
        "name":"The Verge"},
        "author":"Andrew J. Hawkins",
        "title":"The electric scooter craze is officially one year old — what's next?",
        "description":"The electric scooter frenzy is turning one. The two companies that kicked off the new transit trend when they first started dropping motorized scooters on city streets without permission a year ago — Bird and Lime — are celebrating their first 12 months (or i…",
        "url":"https://www.theverge.com/2018/9/20/17878676/electric-scooter-bird-lime-uber-lyft",
        "urlToImage":"https://cdn.vox-cdn.com/thumbor/EXsg4dVCU_Jd875y29L3B-C6DU4=/0x343:5426x3184/fit-in/1200x630/cdn.vox-cdn.com/uploads/chorus_asset/file/13116803/1016378318.jpg.jpg",
        "publishedAt":"2018-09-20T10:00:02Z",
        "content":"The electric scooter frenzy is turning one. The two companies that kicked off the new transit trend when they first started dropping motorized scooters on city streets without permission a year ago — Bird and Lime — are celebrating their first 12 months (or i… [+7164 chars]"},
{"source":{"id":"the-wall-street-journal",
        "name":"The Wall Street Journal"},
        "author":null,
        "title":"Comcast,
        Fox to Settle $35 Billion Takeover Battle for Sky in Weekend Auction",
        "description":null,
        "url":"https://www.wsj.com/articles/comcast-fox-to-settle-35-billion-takeover-battle-for-sky-in-weekend-auction-1537435073",
        "urlToImage":null,
        "publishedAt":"2018-09-20T09:39:54Z",
        "content":null},
{"source":{"id":null,
        "name":"Bbc.com"},
        "author":"https://www.facebook.com/bbcnews",
        "title":"Jack Ma rows back on pledge to create one million US jobs",
        "description":"The Alibaba chair says he can no longer create one million US jobs because of rising US-China tensions.",
        "url":"https://www.bbc.com/news/business-45579137",
        "urlToImage":"https://ichef.bbci.co.uk/news/1024/branded_news/11DA0/production/_103502137_gettyimages-1031145868.jpg",
        "publishedAt":"2018-09-19T20:02:12Z",
        "content":"Image copyright Getty Images Image caption Mr Ma said trade should not be used as a weapon Alibaba founder Jack Ma,
        who once boasted his e-commerce firm would spur the creation of one million jobs in America,
        has rowed back on those plans. Citing the ongoing … [+2398 chars]"},
{"source":{"id":"the-washington-post",
        "name":"The Washington Post"},
        "author":null,
        "title":"Nearly half of cellphone calls will be scams by 2019,
        report says",
        "description":"An Arkansas-based firm predicts an explosion of spam calls,
        marking a leap from 3.7 percentage of total calls in 2017 to a projected 44.6 percentage by early 2019.",
        "url":"https://www.washingtonpost.com/technology/2018/09/19/nearly-half-cellphone-calls-will-be-scams-by-report-says/",
        "urlToImage":"https://www.washingtonpost.com/resizer/i6-9uQtDMc4lZWUq23pCq8S8d88=/1484x0/arc-anglerfish-washpost-prod-washpost.s3.amazonaws.com/public/6OESPDFGIMI6RLLPBADXBXG5YI.jpg",
        "publishedAt":"2018-09-19T13:25:20Z",
        "content":"Nearly half of all cellphone calls next year will come from scammers,
        according to First Orion,
        a company that provides phone carriers and their customers caller ID and call blocking technology. The Arkansas-based firm projects an explosion of incoming spam c… [+4009 chars]"}]}