<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>News Feed</title>
    <link href="/static/css/news_feed.css" rel="stylesheet" type="text/css" />
</head>
<body>

<div>
    <!-- TradingView Widget BEGIN -->
    <div class="tradingview-widget-container-1">
        <!--<div class="tradingview-widget-container__widget"></div>-->
        <!--<div class="tradingview-widget-copyright"><a href="https://www.tradingview.com" rel="noopener" target="_blank"><span class="blue-text">Quotes</span></a> by TradingView</div>-->
        <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-tickers.js" async>
            {
                "symbols" [
                {
                    "description": "",
                    "proName": "NASDAQ:MSFT"
                },
                {
                    "description": "",
                    "proName": "NASDAQ:AAPL"
                },
                {
                    "description": "",
                    "proName": "NASDAQ:GOOGL"
                },
                {
                    "description": "",
                    "proName": "OTC:OCPNY"
                },
                {
                    "description": "",
                    "proName": "NASDAQ:FEYE"
                },
                {
                    "description": "",
                    "proName": "NASDAQ:RPD"
                },
                {
                    "description": "",
                    "proName": "NYSE:TWLO"
                },
                {
                    "description": "",
                    "proName": "NYSE:W"
                },
                {
                    "description": "",
                    "proName": "NASDAQ:ROKU"
                },
                {
                    "description": "",
                    "proName": "NYSE:BOX"
                },
                {
                    "description": "",
                    "proName": "NYSE:PSTG"
                }
            ],
                "locale": "en"
            }
        </script>
    </div>
    <!-- TradingView Widget END -->
</div>

<style>
    body{
        background-color: #00415d;
    }

    .tradingview-widget-container-1{
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        padding: 5px;
        background-color: black;
        border: 2px solid #4CAF50;
    }

    .article-container{
        width: 100%;
        padding: 5px 100px;
        background-color: #cccccc;
        overflow: hidden;
        align-content: center;
    }

    .article-container article{
        width: 50%;
        padding: 80px 0px;
        background-color: #00415d;
        float: inside;
        margin: 5px 1%;
        text-align: center;
        align-content: center;
    }

    .over-all{
        width: 100%;
        background-repeat: no-repeat;
        background-size: 50px;
    }

    .newsfeed-img{
        width:75%;
        margin: 100px;
        height: 400px;
        overflow: hidden;
        align-content: normal;
    }
    .article-container article h2{
        font-weight: 400;
        font-family: Lato;
        font-size: 30px;
        text-align: center;
        padding-bottom: 10px;
        padding-top: 10px;
        text-transform: uppercase;
        color: #000;
    }

    .article-container article p{
        font-weight: 400;
        font-family: Lato;
        font-size: 16px;
        text-align: center;
        padding-bottom: 10px;
        color: #888888;
    }

    .tradingview-widget-container{
        position: absolute;
        top: 150px;
        /*bottom: 100px;*/
        right: 75px;
        font-size: 18px;
        margin-left: 50px;
        /*position: sticky;*/

    }


</style>

<div id="news_data"></div>
<script>
    var NEWS_FEED_CONTAINER = document.querySelector("#news_data");

    function requestURL() {
        var
            BASE_URL = "https://newsapi.org/v2/top-headlines?",
            COUNTRY_PARAM = "country=us&",
            ARTICLE_CATEGORY = "category=business&",
            // NEWSFEED_APIKEY = "apiKey=99df6baec7fb440291394e15ceb17586"
            NEWSFEED_APIKEY = "apiKey=be56e2bd456c4178ba8b9bc080a0d860"

        return [BASE_URL, COUNTRY_PARAM, ARTICLE_CATEGORY, NEWSFEED_APIKEY].join('')
    }

    async function fetchArticles() {
        try {
            var response = await fetch(requestURL())
            var data = await response.json();
            return data.articles;
        } catch (e) {
            console.log("Error!", e);
        }
    }

    async function buildArticlesHTML() {
        console.log('buildArticlesHTML');
        var articlesArray = await fetchArticles()
        var articlesHTML = "";
        var count = 0;
        for await(let article of articlesArray) {
            if(article.title === null) {
                continue;
            }else if(article.description === null) {
                continue;
            }else if(article.publishedAt === null) {
                continue;
            }else if(article.author === null){
                continue;
            }else if(article.urlToImage === null) {
                continue;
            }
            count ++;
            if(count === 10){
                break;
            }
            articlesHTML += `


      <div class='article-container'>
          <div class="wrapper">
      <article>
          <h2 class='article-title'>${article.title}</h2>
          <p class='article-description'>${article.description}</p>
          <p class='article-timestamp'>${article.publishedAt}</p>
          <h3 class='article-author'>By ${article.author}</h3>
          <div class="over-all">
          <div class="newsfeed-img">
          <img src='${article.urlToImage}' alt='${article.title}'>
          </div>
          </div>
          <p class='article-content'>${article.content}</p>
      </article>
        </div>
      </div>
    `
        }
        console.log(articlesHTML)
        NEWS_FEED_CONTAINER.insertAdjacentHTML('afterbegin', articlesHTML)
    }

    document.addEventListener('DOMContentLoaded', function () {

        return buildArticlesHTML()
    });
</script>
<div>
    <!-- TradingView Widget BEGIN -->
    <div class="tradingview-widget-container">
        <!--<div class="tradingview-widget-container__widget"></div>-->
        <!--<div class="tradingview-widget-copyright"><a href="https://www.tradingview.com" rel="noopener" target="_blank"><span class="blue-text">Market Data</span></a> by TradingView</div>-->
        <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-market-overview.js" async>
            {
                "showChart"; true,
                "locale"; "en",
                "largeChartUrl"; "",
                "width"; "400",
                "height"; "1000",
                "plotLineColorGrowing"; "rgba(60, 188, 152, 1)",
                "plotLineColorFalling"; "rgba(255, 74, 104, 1)",
                "gridLineColor"; "rgba(233, 233, 234, 1)",
                "scaleFontColor"; "rgba(214, 216, 224, 1)",
                "belowLineFillColorGrowing"; "rgba(60, 188, 152, 0.05)",
                "belowLineFillColorFalling"; "rgba(255, 74, 104, 0.05)",
                "symbolActiveColor"; "rgba(242, 250, 254, 1)",
                "tabs"; [
                {
                    "title": "Indices",
                    "symbols": [
                        {
                            "s": "NASDAQ:AAPL",
                            "d": "apple"
                        },
                        {
                            "s": "NASDAQ:GOOGL",
                            "d": "google"
                        },
                        {
                            "s": "NASDAQ:MSFT"
                        },
                        {
                            "s": "OTC:OCPNY"
                        },
                        {
                            "s": "NASDAQ:FEYE"
                        },
                        {
                            "s": "NASDAQ:RPD"
                        },
                        {
                            "s": "NYSE:TWLO"
                        },
                        {
                            "s": "NYSE:W"
                        },
                        {
                            "s": "NASDAQ:ROKU"
                        },
                        {
                            "s": "NYSE:BOX"
                        },
                        {
                            "s": "NYSE:PSTG"
                        },
                        {
                            "s": "NASDAQ:GRPN"
                        }
                    ],
                    "originalTitle": "Indices"
                },
                {
                    "title": "Commodities",
                    "symbols": [
                        {
                            "s": "CME_MINI:ES1!",
                            "d": "E-Mini S&P"
                        },
                        {
                            "s": "CME:E61!",
                            "d": "Euro"
                        },
                        {
                            "s": "COMEX:GC1!",
                            "d": "Gold"
                        },
                        {
                            "s": "NYMEX:CL1!",
                            "d": "Crude Oil"
                        },
                        {
                            "s": "NYMEX:NG1!",
                            "d": "Natural Gas"
                        },
                        {
                            "s": "CBOT:ZC1!",
                            "d": "Corn"
                        }
                    ],
                    "originalTitle": "Commodities"
                },
                {
                    "title": "Bonds",
                    "symbols": [
                        {
                            "s": "CME:GE1!",
                            "d": "Eurodollar"
                        },
                        {
                            "s": "CBOT:ZB1!",
                            "d": "T-Bond"
                        },
                        {
                            "s": "CBOT:UD1!",
                            "d": "Ultra T-Bond"
                        },
                        {
                            "s": "EUREX:GG1!",
                            "d": "Euro Bund"
                        },
                        {
                            "s": "EUREX:II1!",
                            "d": "Euro BTP"
                        },
                        {
                            "s": "EUREX:HR1!",
                            "d": "Euro BOBL"
                        }
                    ],
                    "originalTitle": "Bonds"
                },
                {
                    "title": "Forex",
                    "symbols": [
                        {
                            "s": "FX:EURUSD"
                        },
                        {
                            "s": "FX:GBPUSD"
                        },
                        {
                            "s": "FX:USDJPY"
                        },
                        {
                            "s": "FX:USDCHF"
                        },
                        {
                            "s": "FX:AUDUSD"
                        },
                        {
                            "s": "FX:USDCAD"
                        }
                    ],
                    "originalTitle": "Forex"
                }
            ]
            }
        </script>
    </div>
    <!-- TradingView Widget END -->
</div>
<script src="/scripts/news_feed.js"></script>
</body>
</html>