body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #16425b;
    color: #16425b;
}

.jumbotron{
    background-color: #2f6690;
    color: #d9dcd6;
    padding: 0;
    margin: 0;
    background-image: url("placeholder2.jpg");
    background-image: image("placeholder2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 500px;
}

.jumbotron-fluid{
    padding: 200px 25%;
    margin: 0;
}

.btn-link{
    text-decoration: none;
    background-color: transparent;
    color: rgba(255,255,255,.5);
}

.header-box{
    background-color: rgba(0,0,0, .5);
    color: white;
    text-align: center;
    /*padding: 25%;*/
}

.homepage-info{
    background-color: #d9dcd6;
}

footer{
    background-color: #565254;
}

.tradingview-widget-container-1{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 5px;
    background-color: black;
    border: 2px solid #4CAF50;
}

.article-container{
    width: 100%;
    padding: 5px 100px;
    background-color: #cccccc;
    overflow: hidden;
    align-content: center;
}

.article-container article{
    width: 50%;
    padding: 80px 0px;
    background-color: #00415d;
    float: inside;
    margin: 5px 1%;
    text-align: center;
    align-content: center;
}

.over-all{
    width: 100%;
    background-repeat: no-repeat;
    background-size: 50px;
}

.newsfeed-img{
    width:75%;
    margin: 100px;
    height: 400px;
    overflow: hidden;
    align-content: normal;
}
.article-container article h2{
    font-weight: 400;
    font-family: Lato;
    font-size: 30px;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
    text-transform: uppercase;
    color: #000;
}

.article-container article p{
    font-weight: 400;
    font-family: Lato;
    font-size: 16px;
    text-align: center;
    padding-bottom: 10px;
    color: #888888;
}

.tradingview-widget-container{
    position: absolute;
    top: 150px;
    /*bottom: 100px;*/
    right: 75px;
    font-size: 18px;
    margin-left: 50px;
    /*position: sticky;*/

}

