<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <titl>About Us</titl></title>
</head>
<body>

<div class="container text-center">
    <h3>Investible/Active</h3>
    <p><em>Learn the in's and out's about investments</em></p>
    <p>We have created a functional investment website.</p>
    <br>
    <p><em>Meet The Team!!</em></p>
    <div class="row">
        <div class="col-sm-3">
            <p><strong>Max Denny</strong></p><br>
            <img src="Image/maxdenny6.jpg" alt="Max">
            <a href="https://www.linkedin.com/in/max-denny/"></a>
        </div>
        <div class="col-sm-3">
            <p><strong>Collier Bluff</strong></p><br>
            <img src="Image/collier.jpeg" alt="Collier">
            <a href="https://www.linkedin.com/in/collier-bluff/"></a>
        </div>
        <div class="col-sm-3">
            <p><strong>LaMar Lofton</strong></p><br>
            <img src="Image/IMG_1096.jpg" alt="La Mar">
            <a href="https://www.linkedin.com/in/lamar-lofton/"></a>
        </div>
        <div class="col-sm-3">
            <p><strong>Don Pho</strong></p><br>
            <img src="Image/don_s_headshot.jpeg" alt="Don">
            <a href="https://www.linkedin.com/in/donpho/"></a>
        </div>
    </div>
</div>

</body>
</html>