<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <title>About Us</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="/css/about.css" />
</head>
<body>
<nav th:replace="fragments/partials :: navbar"></nav>
    <section class="team">
        <div class="container">
            <div class="row">
                <h1>Meet The Team</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus eaque fugiat illo iste nobis officia porro, repellendus. A aspernatur corporis fuga impedit ipsum iure nam rerum saepe soluta, veniam veritatis.</p>
            </div>
            <div class="row mgt50px">
                <div class="column"></div>
                    <div class="imgBox">
                        <img src="img/maxdenny6.jpg" alt="Max" />
                        <ul>
                            <li><a href="https://www.linkedin.com/in/max-denny/" target="_blank"><img class="icon" src="css/images.jpeg" alt="linkedin"/></a></li>
                            <li><a href="https://github.com/max-denny" target="_blank"><img class="icon" src="css/images 4.png" alt="github"/></a></li>
                            <li><a href="mailto:max.denny27@gmail.com" target="_blank"><img class="icon" src="css/images (2).jpeg" alt="email"/></a></li>
                        </ul>
                    </div>
                <div class="details">
                    <h3>Max Denny</h3>
                </div>
                <div class="column">
                    <div class="imgBox">
                        <img src="img/collier.jpeg" alt="Collier" />
                        <ul>
                            <li><a href="https://www.linkedin.com/in/collier-bluff/" target="_blank"><img class="icon" src="css/images.jpeg" alt="linkedin"/></a></li>
                            <li><a href="https://github.com/collierbluff" target="_blank"><img class="icon" src="css/images 4.png" alt="github"/></a></li>
                            <li><a href="mailto:bluff.collier@gmail.com" target="_blank"><img class="icon" src="css/images (2).jpeg" alt="email"/></a></li>
                        </ul>
                    </div>
                    <div class="details">
                        <h3>Collier Bluff</h3>
                    </div>
                </div>

                <div class="column">
                    <div class="imgBox">
                        <img src="img/IMG_1096.jpg" alt="LaMar" />
                        <ul>
                            <li><a href="https://www.linkedin.com/in/lamar-lofton/" target="_blank"><img class="icon" src="css/images.jpeg" alt="linkedin"/></a></li>
                            <li><a href="https://github.com/lamarlofton" target="_blank"><img class="icon" src="css/images 4.png" alt="github"/></a></li>
                            <li><a href="mailto:lamarlofton55@gmail.com" target="_blank"><img class="icon" src="css/images (2).jpeg" alt="email"/></a></li>
                        </ul>
                    </div>
                    <div class="details">
                        <h3>LaMar Lofton</h3>
                    </div>
                </div>
                <div class="column">
                    <div class="imgBox">
                        <img src="img/don_s_headshot.jpeg" alt="Don" />
                        <ul>
                            <li><a href="https://www.linkedin.com/in/donpho/" target="_blank"><img class="icon" src="css/images.jpeg" alt="linkedin"/></a></li>
                            <li><a href="https://github.com/donpho" target="_blank"><img class="icon" src="css/images 4.png" alt="github"/></a></li>
                            <li><a href="mailto:pho.don.d@gmail.com" target="_blank"><img class="icon" src="css/images (2).jpeg" alt="email"/></a></li>
                        </ul>
                    </div>
                    <div class="details">
                        <h3>Don Pho</h3>
                    </div>
                </div>
                <div class="clear: both;"></div>
            </div>
        </div>
    </section>
  </body>
</html>
