<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>About Us</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="/css/about.css" />
</head>
<body>
<nav th:replace="fragments/partials :: navbar"></nav>
<div class="container">
    <h1 class="my-5">Investor/Active</h1>
    <span class="border"></span>
    <h3 class="my-5 text-center">Meet The Team!</h3>
    <div class="row">
        <div id="1" class="col-12 col-sm-6 col-md-3 card">
            <div class="name">
            <h2 class="card-title">Max Denny</h2>
                <span class="border"></span>

            </div>
            <img class="a" src="img/maxdenny6.jpg" alt="Max" />
            <div class="card">
            <a href="https://www.linkedin.com/in/max-denny/"></a>
            <p class="card-text1">Flavor Text</p>
        </div>
        </div>
        <div id="2" class="col-12 col-sm-6 col-md-3 card">
            <div class="name">
            <h2 class="card-title">Collier Bluff</h2>
                <span class="border"></span>

            </div>
            <img class="a" src="img/collier.jpeg" alt="Collier" />
            <div class="card">
            <a href="https://www.linkedin.com/in/collier-bluff/"></a>
            <p class="card-text2">Flavor Text</p>
            </div>
        </div>
        <div id="3" class="col-12 col-sm-6 col-md-3 card">
            <div class="name">
            <h2 class="card-title">LaMar Lofton</h2>
                <span class="border"></span>

            </div>
            <img class="a" src="img/IMG_1096.jpg" alt="LaMar" />
            <div class="card">
            <a href="https://www.linkedin.com/in/lamar-lofton/"></a>
            <p class="card-text3">Flavor Text</p>
            </div>
        </div>
        <div id="4" class="col-12 col-sm-6 col-md-3 card">
            <div class="name">
            <h2 class="card-title">Don Pho</h2>
                <span class="border"></span>
            </div>
            <img class="a" src="img/don_s_headshot.jpeg" alt="Don" />
            <div class="card">
            <a href="https://www.linkedin.com/in/donpho/"></a>
            <p class="card-text4">Flavor Text</p>
            </div>
        </div>
    </div>
</div>

</body>
</html>