<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Us</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="/css/about.css" />
</head>
<body>
<nav th:replace="fragments/partials :: navbar"></nav>
<div class="container-fluid">
    <!--<h1 class="my-5">Investor/Active</h1>-->
    <!--<span class="border"></span>-->
    <h1 class="my-5 text-center">Meet The Team!</h1>
    <div class="row">
        <div id="1" class="about-card card col">
            <div class="name">
            <h2 class="card-title">Max Denny</h2>
                <!--<span class="border"></span>-->
            </div>
            <img class="a" src="img/maxdenny6.jpg" alt="Max" />
            <div class="about-card card">
                <div class="i row">
                    <span class="col-4"><a href="https://www.linkedin.com/in/max-denny/" target="_blank"><img class="icon" src="css/images.jpeg" alt="linkedin"/></a></span>
                    <span><a href="https://github.com/max-denny" target="_blank"><img class="icon" src="css/images 4.png" alt="github"/></a></span>
                    <span><a href="mailto:max.denny27@gmail.com" target="_blank"><img class="icon" src="css/images (2).jpeg" alt="email"/></a></span>
                </div>
                <!--<p class="card-text1"></p>-->
        </div>
        </div>
        <div id="2" class="about-card card col">
            <div class="name">
            <h2 class="card-title">Collier Bluff</h2>
                <!--<span class="border"></span>-->
            </div>
            <img class="a" src="img/collier.jpeg" alt="Collier" />
            <div class="about-card card row">
                <div class="i">
                    <span><a href="https://www.linkedin.com/in/collier-bluff/" target="_blank"><img class="icon" src="css/images.jpeg" alt="linkedin"/></a></span>
                    <span><a href="https://github.com/collierbluff" target="_blank"><img class="icon" src="css/images 4.png" alt="github"/></a></span>
                    <span><a href="mailto:bluff.collier@gmail.com" target="_blank"><img class="icon" src="css/images (2).jpeg" alt="email"/></a></span>
                </div>
            <!--<p class="card-text2">Flavor Text</p>-->
            </div>
        </div>
        <div id="3" class="about-card card col">
            <div class="name">
            <h2 class="card-title">LaMar Lofton</h2>
                <!--<span class="border"></span>-->
            </div>
            <img class="a" src="img/IMG_1096.jpg" alt="LaMar" />
            <div class="about-card card row">
                <div class="i">
                    <span><a href="https://www.linkedin.com/in/lamar-lofton/" target="_blank"><img class="icon" src="css/images.jpeg" alt="linkedin"/></a></span>
                    <span><a href="https://github.com/lamarlofton" target="_blank"><img class="icon" src="css/images 4.png" alt="github"/></a></span>
                    <span><a href="mailto:lamarlofton55@gmail.com" target="_blank"><img class="icon" src="css/images (2).jpeg" alt="email"/></a></span>
                </div>
            <!--<p class="card-text3">Flavor Text</p>-->
            </div>
        </div>
        <div id="4" class="about-card card col">
            <div class="name">
            <h2 class="card-title">Don Pho</h2>
                <!--<span class="border"></span>-->
            </div>
            <img class="a" src="img/don_s_headshot.jpeg" alt="Don" />
            <div class="about-card card row">
                <div class="i">
                    <span><a href="https://www.linkedin.com/in/donpho/" target="_blank"><img class="icon" src="css/images.jpeg" alt="linkedin"/></a></span>
                    <span><a href="https://github.com/donpho" target="_blank"><img class="icon" src="css/images 4.png" alt="github"/></a></span>
                    <span><a href="mailto:pho.don.d@gmail.com" target="_blank"><img class="icon" src="css/images (2).jpeg" alt="email"/></a></span>
                </div>
                <!--<p class="card-text4">Flavor Text</p>-->
            </div>
        </div>
    </div>
</div>

</body>
</html>