<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <div th:replace="fragments/partials :: bootstrapHeaderBasic"></div>

    <title>Investoractive</title>

    <!-- include stylesheets, etc here -->

    <div th:replace="fragments/partials :: bootstrapCSS"></div>
</head>
<body>
<nav th:replace="fragments/partials :: navbar"></nav>


    <div class="jumbotron jumbotron-fluid">
       <div class="header-box">
           <h1>Investing</h1>
           <p><h3>Making it simpler to begin</h3></p>
           <div>
               <form th:action="@{/about-us}">
                   <button type="button" class="btn btn-primary">LEARN MORE</button>
               </form>
           </div>
       </div>
    </div>



<div class="container mt-3 homepage-info">
    <div class="row">
        <div class="col-md-6">
            <img src="../../img/up_arrow.jpg" class="img-thumbnail" height="400" width="400" />
        </div>
        <div class="col-md-6">
            <p>
                We have taken the 10k reports of various companies and displayed it on key numbers that you should focus on in the near future.
            </p>
        </div>
    </div>



    <div class="row centered mt-5 mb-5">
        <div class="col-md-12">
            <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                News Feed
            </a>
        </div>
        <div class="tradingview-widget-container-1 col-md-12">
            <!--<div class="tradingview-widget-container__widget"></div>-->
            <!--<div class="tradingview-widget-copyright"><a href="https://www.tradingview.com" rel="noopener" target="_blank"><span class="blue-text">Quotes</span></a> by TradingView</div>-->
            <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-tickers.js">
                {
                    "symbols" [
                        {
                            "description": "",
                            "proName": "NASDAQ:MSFT"
                        },
                            {
                                "description": "",
                                "proName": "NASDAQ:AAPL"
                            },
                            {
                                "description": "",
                                "proName": "NASDAQ:GOOGL"
                            },
                            {
                                "description": "",
                                "proName": "OTC:OCPNY"
                            },
                            {
                                "description": "",
                                "proName": "NASDAQ:FEYE"
                            },
                            {
                                "description": "",
                                "proName": "NASDAQ:RPD"
                            },
                            {
                                "description": "",
                                "proName": "NYSE:TWLO"
                            },
                            {
                                "description": "",
                                "proName": "NYSE:W"
                            },
                            {
                                "description": "",
                                "proName": "NASDAQ:ROKU"
                            },
                            {
                                "description": "",
                                "proName": "NYSE:BOX"
                            },
                            {
                                "description": "",
                                "proName": "NYSE:PSTG"
                            }
                        ],
                        "locale": "en"
                }
            </script>
        </div>
        <!-- TradingView Widget END -->


        <div class="collapse" id="collapseExample">
            <div class="card card-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
            </div>
        </div>
    </div>




    <div class="row">
        <div class="col-md-6">
            Start a discussion with other user to broaden your horizon to help improve your understanding of the stock market.
        </div>
        <div class="col-md-6">
            <!--This is where the most recent comments will be.-->
        </div>
    </div>
</div>




<footer th:replace="fragments/partials :: footer"></footer>
<script src="/scripts/news_feed.js"></script>
<div th:replace="fragments/partials :: javascript"></div>
</body>
</html>

