<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <div th:replace="fragments/partials :: bootstrapHeaderBasic"></div>

    <title>Investoractive</title>

    <!-- include stylesheets, etc here -->

    <div th:replace="fragments/partials :: bootstrapCSS"></div>
</head>
<body>
<nav th:replace="fragments/partials :: navbar"></nav>


    <div class="jumbotron">
        <img src="Image/placeholder.jpg" class="img-fluid" />
        <hr class="my-4" />
        <p>Something about Investoractive.com</p>
    </div>

<div th:each="company : ${companies}">
    <!--<h2 th:text="${company.name}"></h2>-->

    <!--<h4>Company Data (This Year): </h4>-->
    <!--<p>Ticker: <span th:text="${company.ticker}"></span><br /><br /></p>-->
        <!--Net Income: <span th:text="${company.getNetIncome()}"></span><br /><br />-->
        <!--Earnings Per Share: <span th:text="${company.eps}"></span><br /><br />-->
        <!--Total Assets: <span th:text="${company.getTotalAssets()}"></span><br /><br />-->
        <!--Total Liabilities: <span th:text="${company.getTotalLiabilities()}"></span><br /><br />-->
        <!--Total Sales Revenue: <span th:text="${company.getSales()}"></span></p>-->

    <!--COMMENTS-->
        <div th:each="comment : ${company.getComments()}">
            <th:block th:include="fragments/partials :: comment"></th:block>
        </div>

    <!--New Comment Form-->
    <div>
        <!--<form th:action="@{'/company/' + ${company.id} + '/comment/create'}" method="post" th:object="${comment}">-->
                <!--Comment:<br>-->
            <!--<textarea name="comment"></textarea>-->
                <!--<input type="submit" value="Submit"/>-->
        <!--</form>-->
</div>
</div>





<footer th:replace="fragments/partials :: footer"></footer>
<div th:replace="fragments/partials :: javascript"></div>
</body>
</html>

